/* -------------Tablets----------------- */
@media only screen and (max-width:991.98px) {
    .banner-text {
        width: 50%;
        margin: 40px 0 40px 40px;

    }

    .banner-text h1 {
        font-size: 55px;
        line-height: 70px;
    }
    .banner-image {
        top: 14%;
        left: 55%;
    }

    /* --Blog---- */
    .blogs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0;
        width: 85vw;
        overflow: hidden;
    }

    .side-nav {
        display: flex;
        height: 120px;
        width: 85vw;
        margin-bottom: 40px;

        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        background-color: #ffffff;
    }

    .button {
        display: inline-block;
        height: 30px;
        width: 250px;
        font-size: 20px;
        margin: 20px;
        border: 1px solid #332b2b27;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-img img {
        width: 100%;
    }

    .blog-button {
        margin: 53px 0 20px 20px;
    }

    /* ----Footer---------- */
    .container-fluid {
        height: 80vh;
        align-items: ;
    }

    .container-fluid nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-fluid nav a {
        margin: 20px 60px;
    }
}


/* ----------------------------------------
-------SMALL DEVICE/MOBILE----------------
------------------------------------------- */
@media only screen and (max-width: 575.98px) {
    .banner {
        min-height: 790px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .banner-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 2%;

    }

    .banner-text h1 {
        font-size: 40px;
        line-height: 42px;
        margin: 40px 40px 0 40px;
        text-align: center;
    }
    .banner-text p {
        margin: 20px 60px 40px 40px;
        text-align: center;
    }

    .banner-image {
        width: 90%;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-40%, 50%);
    }

    .banner-image img {
        width: 76%;
        height: 50%;
    }

    /* blog section */
    .blogs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;

    }

    .side-nav {
        display: flex;
        height: 245px;
        width: 85vw;
        margin-bottom: 40px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    .blog-button {
        margin: 80px 0 20px 20px;
    }


    /* ----footer---- */
    .container-fluid {
        height: 85vh;
    }

    .container-fluid h1 {
        font-size: 35px;
        margin-top: 50px;
    }

    .container-fluid nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-fluid nav a {
        margin: 10px 60px;
    }

    .social-icons {
        visibility: visible;

    }

    .social-icons a {
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: inline-block;
        margin: 10px 20px;
    }
}