* {
    margin: 0;
    padding: 0;

}

/* Banner */
.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner {
    width: 1321px;
    height: 630px;
    display: flex;
    background-color: #161616;
    border-radius: 30px;
}
.banner-text {
    width: 50%;
    margin: 6.625em 0 6.625em 6.625em ;

}
.banner-text h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
}
.banner-text p {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}
.banner-text button {
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
}
.banner-image {
    width: 50%;

}
.banner-image img {
    width: 90%;
    height: 100%;
}

/* Blog section */
.blogs-container {
    display: flex;
    margin-top: 50px;
    width: 1321px;
}
.side-nav {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 10px;
    height: 312px;
    width: 312px;
    justify-content: center;
}

.button {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 15px 30px;
    padding: 12px 26px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;


}
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 312px);
    grid-gap: 24px;
    margin-left: 24px;
}
.blog-img {
    width: 100%;
    height: 175px;
}
..blog-text {
    margin: 16px 20px ;
    width: 100%
}
..blog-text h4 {
    font-size: ;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 20px 20px 20px 0;
}
..blog-text .button {
    margin: 40px 20px;
}
.blog-icons {
    display: flex;
    justify-content: space-evenly;
    
}